{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<div >
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>About Us</h3>
   <hr>
    <p>
   TapoTap is an e-commerce web application, where various types of local produce of Jammu and Kashmir is available. People can seacrh out their required product on Tapotap,but them and get them delivered at their doorsteps within a short span of time.It's a startup based in Jammu.Customer can add their required product with 1 tap and the product will be delivered to their doorsteps. That's why the owner named the startup as Tapotap Pvt. Limited. 
  </div>
 </div>
</div>
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Why was Tapotap Pvt. limited started?</h3>
   <hr>
    <p> Tapotap Pvt. limited is an e-commerce startup based in Jammu.The main aim of Tapotap is to provide Employement to the Youth of Jammu and Kashmir.The other Reason and the most significant reason is to provide the local produce of Jammu and Kashmir in the best rates.To provide Healthy and Organic products Tapotap was Started.
   
  </div>
 </div>
</div>
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Who owns Tapotap?</h3>
   <hr>
    <p> Tapotap Pvt. Limited  is an e-commerce startup based in Jammu.  It was started by Mulkh Raj Sharma who is retired LIC Officer . His main aim is to provide local produce of Jammu and Kashmir with its top Quality.

 </div>
</div>
{% endblock main-content %}