{% extends 'app/base.html' %}
{% load static %}
{% block title %}Restaurant Food{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'restaurantfood' %}" class="list-group-item list-group-item-action" aria-current="true">All</a>
     <a href="{% url 'restaurantfooddata' 'pizzas'  %}" class="list-group-item list-group-item-action" aria-current="true">Pizzas</a>
     <a href="{% url 'restaurantfooddata' 'burgers'  %}" class="list-group-item list-group-item-action">Burgers</a>
     <a href="{% url 'restaurantfooddata' 'momos'  %}" class="list-group-item list-group-item-action">Momos</a>
     <a href="{% url 'restaurantfooddata' 'chicken'  %}" class="list-group-item list-group-item-action">Chicken</a>
     <a href="{% url 'restaurantfooddata' 'biryanis'  %}" class="list-group-item list-group-item-action">Biryanis</a>
   </div>
  </div>
  <div class="col-sm-8">
   <div class="row">
    {% for product in groceries %}
     <div class="col-sm-4 text-center mb-4">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" height="300" class="">
        <div class="fw-bold">{{product.title}}</div>
        <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
       </div>
      </a>
     </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}